* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #001d9c;
}

div#blind{
  width: 640px;
  height: 100%;
  position: absolute;
  /*background: #3b3b3b;*/
  background: rgba(0,0,0,0.7);
  /*opacity: 0.6;*/
  z-index: 100;
  visibility: hidden;
}

.cows-game {
  width: 640px;
  height: 800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.info {
  background: #e2e3e4;
  width: 100%;
  height: auto;
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
  font: 20px;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.text-info {
  display: flex;
}

.choice-set {
  width: 100%;
  height: calc(20% - 4px);
  position: relative;
  display: flex;
}

.game-field {
  width: calc(25% - 4px);
  height: calc(20% - 4px);
  margin: 2px;
  padding: 2px;
  position: relative;
  display: flex;
  border-radius: 2px;
}

.memory-card {
  width: calc(25% - 4px);
  height: calc(100% - 4px);
  margin: auto;
  padding: 10px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.grass-field {
  background: #04b11e;
}
.ground-field {
  background: #808080;
}


.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.cow {
  width: calc(160px - 10px);
  height: calc(160px - 10px);
  padding: 20px;
  margin: 2px;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
}

.player-1 {
  background: orange;
}

.player-2 {
  background: hsl(120, 99%, 29%);
}

.player-3 {
  background: rgb(31, 64, 253);
}


/* button from https://appcode.app/how-to-create-alert-buttons-with-css/ */
.btn {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}
.success {background-color: #04AA6D;} /* Green */
.success:hover {background-color: #46a049;}
.infobtn {background-color: #2196F3;} /* Blue */
.infobtn:hover {background: #0b7dda;}
.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}
.danger {background-color: #f44336;} /* Red */
.danger:hover {background: #da190b;}
.default {background-color: #e7e7e7; color: black;} /* Gray */
.default:hover {background: #ddd;}