* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #060AB2;
}

.memory-game {
  width: 640px;
  height: 800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.choice-set {
  width: 100%;
  height: calc(20% - 4px);
  position: relative;
  display: flex;
}

.game-field {
  width: calc(25% - 4px);
  height: calc(20% - 4px);
  margin: 2px;
  padding: 2px;
  position: relative;
  display: flex;
  border-radius: 2px;
}

.memory-card {
  width: calc(25% - 4px);
  height: calc(100% - 4px);
  margin: auto;
  padding: 10px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.grass-field {
  background: #04b11e;
}
.ground-field {
  background: #808080;
}


.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.cow {
  width: calc(160px - 10px);
  height: calc(160px - 10px);
  padding: 20px;
  margin: 2px;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
}
