/*:root {
  --game-width: 640px;
  --game-height: 900px;
  --columns-number: 4;
  --rows-number: 4; 
}*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #001d9c;
}

div#blind{
  width: var(--game-width);
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,0.7);
  z-index: 100;
  visibility: hidden;
}
.blind-text {
  background: #e2e3e4;
}

.cows-game {
  --game-width: 640px;
  --game-height: 900px;
  --columns-number: 4;
  --rows-number: 4; 
  width: var(--game-width);
  height: var(--gmae-height);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.info {
  background: #e2e3e4;
  width: 100%;
  height: auto;
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
  font: 20px;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.text-info {
  display: flex;
}


.choice-set {
  width: 100%;
  height: calc(var(--game-width) / var(--columns-number) - 4px);
  position: relative;
  display: flex;
}

.game-field {
  width: calc(100% / var(--columns-number) - 4px);
  aspect-ratio: 1;
  margin: 2px;
  padding: 2px;
  position: relative;
  display: flex;
  border-radius: 2px;
}
.grass-field {
  background: #04b11e;
}
.ground-field {
  background: #808080;
}

.cow {
  width: calc(var(--game-width) / var(--columns-number) - 10px);
  aspect-ratio: 1;
  padding: 20px;
  margin: 2px;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
}

.player-1 {
  background: orange;
}
.player-2 {
  background: hsl(120, 99%, 29%);
}
.player-3 {
  background: rgb(31, 64, 253);
}
.player-4 {
  background: rgb(230, 255, 2);
}
.player-5 {
  background: rgb(190, 57, 252);
}


/* button from https://appcode.app/how-to-create-alert-buttons-with-css/ */
.btn {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}
.success {background-color: #04AA6D;} /* Green */
.success:hover {background-color: #46a049;}
.infobtn {background-color: #2196F3;} /* Blue */
.infobtn:hover {background: #0b7dda;}
.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}
.danger {background-color: #f44336;} /* Red */
.danger:hover {background: #da190b;}
.default {background-color: #e7e7e7; color: black;} /* Gray */
.default:hover {background: #ddd;}